@image-folder: '../img';

.ZEEGA-tab {
    background: orangered;
    display: block;
    padding: 5px;
    width: 30px;
    height: 35px;
    border-radius: 0 0 2px 2px;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
    top: 0;
    left: 20px;
    .transition( all, 0.5s );

    .ZTab-logo {
        display: block;
        height: 30px;
        width: 30px;
        background-image: url(../img/zeega-logo-white.png);
        background-size: 30px 30px;
        margin-top: 2px;
    }

    &:hover {
        .transition( all, 0.5s );
        padding-top: 10px;
    }
}

.ZEEGA-sound-state {
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../img/sounds-sprite.png);
    background-position: 0 0px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 0 0 2px 2px;
    position: absolute;
    z-index: 10;
    background-size: 30px 150px;
    right: 20px;
    top: 20px;

    &.muted{
        background-position: 0px -30px;
    }

    &.loading-0{
        background-position: 0px -60px;
    }
    &.loading-1{
        background-position: 0px -90px;
    }
    &.loading-2{
        background-position: 0px -120px;
    }

}

.ZEEGA-chrome-metablock {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;

    .meta-inner {
        padding: 10px;
        padding-top: 10px;
        .clearfix;
    }

    .left-col {
        .clearfix;
        float:left;
        margin-right: 10px
    }

    .right-col {
        float: right;
        width: -webkit-calc(~"100% - 66px");

        .username {
            .profile-name {
                font-size: 11px !important; 
            }
            margin-bottom: 5px;
        }
        .caption {
            line-height: 1.1em;
        }

        .stats-meta {
            font-size: 11px;
            margin-top: 5px;
        }
    }
}


.swipe-left {
    width: 200px;
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    position: absolute;
    right: 10%;
    .transition( right, 0.5s );

    &.jump {
        right: 20%;
        .transition( right, 0.5s );
    }

    img {
        width: 125px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.ZEEGA-notices {

    position: absolute;
    right: 0;
    text-align: right;

    li {
        margin-bottom: 5px;
    }

    .rotating {
        li {
            opacity: 0;
            position: absolute;
            right: 0;
            .transition( opacity, 0.5s );

            &.active {
                opacity: 1;
                .transition( opacity, 0.5s );
            }
        }
    }
    
}