.ZEEGA-remix-flash {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .banner {
        background: rgba(255,255,255,0.75);
        font-size: 13px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        height: 220px;
        width: 220px;
        border: 4px solid white;
        opacity: 0;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.75);

        &.show {
            opacity: 1;
            transition: opacity 0.5s;
            -webkit-transition: opacity 0.5s;
        }

        .text-overlay {
            background: white;
            display: inline-block;
            padding: 2px;
            margin: 10px 10px 5px 10px;
            font-family: "futura", sans-serif;
            font-size: 13px;
            position: relative;
        }

        .remix-bg {
            position: absolute;
            float: left;
            height: 100%;
            width: 100%;
            &.remix-bg-whole {

            }

            &.remix-bg-half {
                width: 50%;
                &:nth-child(2) {
                    left: 50%;
                }
            }
        }

    }
}