#underlay {

    color: #333;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;

    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */

    .share-links {
        a {
            float:left;
            padding: 10px 5px;

            &:first-child {
                padding-left: 20px;
            }
        }
    }

    .zeega-logo {
        background: url(../img/logo-full.gif);
        background-size: 100%;
        width: 100px;
        height: 20px;
        background-repeat: no-repeat;
    }

    .ZEEGA-underlay {
        height: 100%;
        position: relative;
    }
    #scroller {
        height: 100%;
    }
    
    .coffin-author {
        font-size: 0.75em;
    }

    .bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.15;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        white-space: nowrap;

        a {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 0.75em;
        }

        &.highlight {
            background: orangered;
        }

        &.header {
            font-family: "Futura", sans-serif;
            letter-spacing: 5px;
            font-size: 16px;
            padding: 10px 20px;
            color: orangered;
            line-height: 1.5em;

            .project-views {
                font-size: 0.75em;

                i {
                    margin-left: 2px;
                    margin-top: 7px;
                }
            }
        }

        &.underlay-citation {
            font-size: 0.75em;
        }

        &.spacer {
            height: 30px;
        }

        &:last-child {
        }
    }

    a {
        display: block;
        padding: 10px 20px;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #333;
    }
}