[submodule "assets/vendor/zeegaplayer"]
	path = assets/vendor/zeegaplayer
	url = git@github.com:Zeega/Zeega-Player.git
[submodule "assets/vendor/hammer"]
	path = assets/vendor/hammer
	url = https://github.com/EightMedia/hammer.js.git
