<div href="http://www.zeega.com" class="ZEEGA-tab">
    <span class="ZTab-logo"></span>
</div>
<div class="ZEEGA-sound-state" style="display:none" ></div>

<div class="ZEEGA-chrome-metablock" style="display:none" >
    <div class="meta-inner">
        <div class="left-col">
            <a data-bypass="true" href="http://zeega.com/profile/<%= userId %>">
                <div class="profile-token"><img src="<%= userThumbnail %>"/></div>
            </a>
        </div>
        <div class="right-col">
            <div class="username">
                <a data-bypass="true" href="http://zeega.com/profile/<%= userId %>">
                    <div class="profile-name"><%= authors %></div>
                </a>
            </div>
            <div class="caption"><%= title %></div>
        </div>
    </div>
</div>