<div href="<%= path %>" class="ZEEGA-tab">
    <span class="ZTab-logo"></span>
</div>

<div class="share-block">
    <ul class="share-sites share-network">
        
        <% if ( loggedIn === true ){  %> 
            <li>
                 <% if ( favorite === true ) {  %> 
                    <a href="#" class="favorite favorited">♥</a>
                <% } else {%>
                    <a href="#" class="favorite">♥</a>
                <% } %>
            </li>
        <% } %>  
        <li><a name = "twitter" href="<%= share_links.twitter %>" target="blank" ><i class="endpage-social endpage-social-twitter"></i></a></li>
        <li><a name = "facebook" href="<%= share_links.facebook %>" target="blank"><i class="endpage-social endpage-social-facebook" target="blank" ></i></a></li>
        <li><a name = "tumblr" href="<%= share_links.tumblr %>" target="blank" ><i class="endpage-social endpage-social-tumblr"></i></a></li>
        <li><a name = "reddit" href="<%= share_links.reddit %>" target="blank" ><i class="endpage-social endpage-social-reddit"></i></a></li>
    </ul>
</div>

<div class="endpage-actions">
    <h2>Explore More Zeegas</h2>
     <article style="background-image: url(<%=related_project.cover_image %>);" >
            <div class="info-overlay">
                <div class="left-column">
                  <a data-bypass="true" href="<%=path %>profile/<%=related_project.user.id %>" >
                    <div class="profile-token" style="background-image: url(<%= related_project.user.thumbnail_url %>);"></div>
                   </a>
                </div>
                <div class="right-column">
                  <h1 class = "caption"><%= related_project.title %></h1>
                  
                  <div class="profile-name">
                    <a data-bypass="true" href="<%=path %>profile/<%=related_project.user.id%>" >
                      <%=related_project.user.display_name%>
                    </a>
                   
                  </div>
                 
                </div>
                  
            
            </div>
            <a href="<%=path %>m/<%=related_project.id %>" class="mobile-play" data-bypass="true"></a>
    </article>

</div>

<div class="ZEEGA-chrome-metablock">
    <div class="meta-inner">
        <div class="left-col">
            <a data-bypass="true" href="<%= path %>profile/<%= userId %>">
                <div class="profile-token" style="
                    background: url(<%= userThumbnail %>);
                    background-size: cover;
                    background-position: center;
                "></div>
            </a>
        </div>
        <div class="right-col">
            <div class="username">
                <a data-bypass="true" href="<%= path %>profile/<%= userId %>">
                    <div class="profile-name"><%= user.display_name %></div>
                </a>
            </div>
            <div class="caption"><%= title %></div>
        </div>
    </div>
</div>