<div class="ZEEGA-tab"><img src="assets/img/zeega-logo-white-30.png"/></div>

<div class="ZEEGA-loader-inner">
    <h1><%= title %></h1>
    <h2>
        <a href="http://zeega.com/user/<%= userId %>" target="blank">
            <div class="profile-token"><img src="<%= profileImage %>"/></div>
            <div class="profile-name"><%= authors %></div>
        </a>
    </h2>
</div>

<div href="#" class="mobile-play"><img src="assets/img/start-button.png"/></div>

<div class="ZEEGA-paused-footer loader-footer">
</div>
<span class="ZEEGA-loader-bg"></span>