<div href="http://www.zeega.com" class="ZEEGA-tab">
    <span class="ZTab-logo"></span>
</div>

<div class="swipe-left">
    <div class="ZEEGA-notices">
        <ul class="sticky">
            <li><i class="icon-headphones icon-white"></i> turn up volume</li>
        </ul>
        <ul class="rotating">
            <li class="active">swipe to start</li>
            <li class="">swipe to explore</li>
        </ul>
    </div>
    <img src="assets/img/swipe-left.png"/>
</div>

<div class="ZEEGA-chrome-metablock">
    <div class="meta-inner">
        <div class="left-col">
            <a data-bypass="true"  href="http://zeega.com/profile/<%= userId %>">
                <div class="profile-token"><img src="<%= userThumbnail %>"/></div>
            </a>
        </div>
        <div class="right-col">
            <div class="username">
                <a data-bypass="true" href="http://zeega.com/profile/<%= userId %>">
                    <div class="profile-name"><%= authors %></div>
                </a>
            </div>
            <div class="caption"><%= title %></div>
        </div>
    </div>
</div>

<div class="ZEEGA-loader-bg-overlay"></div>
<span class="ZEEGA-loader-bg"></span>