<div class="banner">

<% if ( currentProject.remix.ancestors.length ) { %>
    <div class="remix-bg remix-bg-half remix-bg-root" style="
        background-image: url(<%= previousProject.cover_image %>);
        background-position: center;
        background-size: cover;
    "></div>
    <div class="remix-bg remix-bg-half remix-bg-current" style="
        background-image: url(<%= currentProject.cover_image %>);
        background-position: center;
        background-size: cover;
    "></div>
<% } else { %>
    <div class="remix-bg remix-bg-whole remix-bg-root" style="
        background-image: url(<%= currentProject.cover_image %>);
        background-position: center;
        background-size: cover;
    "></div>
<% } %>

    <div class="text-overlay">Now Watching</div>
    <div class="text-overlay"><% if ( currentProject.remix.ancestors.length ) { %>A Remix by<% } else { %>A Zeega by<% } %> <%= currentProject.user.display_name %></div>
</div>