<div id="scroller">
    <ul class="underlay-menu">
        <li class="header">
            <div><%= title %></div>
            <div class="coffin-author">by <%= authors %></div>
        </li>
        <li><a href="https://mobile.twitter.com/compose/tweet?status=http://www.zeega.com/" target="blank">Share on Twitter</a></li>
        <li><a href="http://m.facebook.com/sharer.php?u=http://www.zeega.com/&t=<%= title %> by <%= authors %>" target="blank">Share on Facebook</a></li>
        <li><a href="mailto:friend@example.com?subject=Check out this Zeega!&body=http://www.zeega.com/<%= id %>">Share on Email</a></li>
        <li class="spacer"></li>
        <li class="header">Credits</li>
        <% _.each( frames, function( frame ) { %>
            <% _.each( frame.layers, function( layer ) { %>
                <% if (layer.type != "Link") { %>
                    <li><a href="<%= layer.attr.uri %>" target="blank"><%= layer.attr.title %></a></li>
                <% } %>
            <% }) %>
        <% }) %>
        <li class="spacer"></li>
        <li><a href="http://www.zeega.com/" target="blank">Explore the Zeegaverse</a></li>
    </ul>
</div>