<div id="scroller">
    <ul class="underlay-menu">

        <li class="header">
            <a class="zeega-logo" href="http://www.zeega.com/" data-bypass="true"></a>
        </li>

        <li class="header">Share</li>
        <li class="clearfix share-links">
            <a name="twitter" href="<%= share_links.twitter %>" target="blank" >
                <i class="zsocial-twitter zsocial-color"></i>
            </a>
            <a name="facebook" href="<%= share_links.facebook %>" target="blank">
                <i class="zsocial-facebook zsocial-color" target="blank" ></i>
            </a>
            <a name="tumblr" href="<%= share_links.tumblr %>" target="blank" >
                <i class="zsocial-tumblr zsocial-color"></i>
            </a>
            <a name="reddit" href="<%= share_links.reddit %>" target="blank" >
                <i class="zsocial-reddit zsocial-color"></i>
            </a>
        </li>

<!--
        <li class="header">Explore</li>

        <li style="background-image: url(<%=related_project.cover_image %>);" >
            <div class="info-overlay">
                <div class="left-column">
                  <a data-bypass="true" href="<%=path %>profile/<%=related_project.user.id %>" >
                    <div class="profile-token" style="background-image: url(<%= related_project.user.thumbnail_url %>);"></div>
                   </a>
                </div>
                <div class="right-column">
                  <h1 class = "caption"><%= related_project.title %></h1>
                  
                  <div class="profile-name">
                    <a data-bypass="true" href="<%=path %>profile/<%=related_project.user.id%>" >
                      <%=related_project.user.display_name%>
                    </a>
                   
                  </div>
                 
                </div>
                  
            
            </div>
            <a href="<%=path %>m/<%=related_project.id %>" class="mobile-play" data-bypass="true"></a>
        </li>
-->

        <li class="header credits-header">Credits</li>
        <% _.each( layers, function( layer ) { %>
                <% if ( !_.contains(["Link","EndPageLayer","Text","TextV2","Rectangle"], layer.type )) { %>
                    <li class="underlay-citation">
                        <a href="<%= layer.attr.attribution_uri %>" target="blank">
                            <i class="icon-<%= layer.type.toLowerCase() %>"></i> <% if ( layer.attr.title === "" ) { %>[untitled]<% } else { %><%= layer.attr.title %><% } %>
                        </a>
                    </li>
                <% } %>
        <% }) %>
        
    </ul>
</div>